@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css"); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*navbar styling*/
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Montserrat',sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky{
  padding: 15px 0;
  background: #6DAFFE;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo{
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color: #1452fa;
}

.navbar.sticky .menu li a:hover{
  color: #fff;
}

.menu-btn{
  color: gold;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scrollup{
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(50, 20, 220);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scrollup{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scrollup:hover{
  filter: brightness(90%);
}
/*Home Section Styling*/
.home{
  display: flex;
  background: url("homebackground.jpg") no-repeat center;
  height: 90vh;
  color: black;
  min-height: 500px;
  background-size: cover;
  background-attachment: local;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}

.home .home-content .text-1{
  font-size: 32px;
  margin-left: 5px;
  margin-top: 20px;
}

.home .home-content .text-2{
  font-size: 38px;
  font-weight: 500;
  margin-left: 5px;
  line-height: 1.5;
}

.home .home-content .text-3{
  font-size: 29px;
  line-height: 1.5;
  margin-left: 5px;
  /*margin: 5px 0;*/
}

.home .home-content .text-3 span{
  color: #1452fa;
} 

.home .home-content .text-4{
  font-size: 18px;
  color: #43464b;
  margin-left: 5px;
  line-height: 2;
}

.home .home-content a{
  display: inline-block;
  background: #7644c3;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #6DAFFE;
  transition: all 0.3s ease;
} 

.home .home-content a:hover{
  color: black;
  background: none;
}
/* all similar content styling code */
section{
  padding: 50px 0;
}

section .title::before{
  content:"";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111 ;
  transform: translateX(-50%) ;
}

section .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #6DAFFE;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%) ;
}
/*about section styling*/
.about, .skills, .projects, .contacts{
  font-family: 'Poppins',sans-serif;
}
section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-family: 'Ubuntu',sans-serif;
}

section .title::before{
  content:"";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111 ;
  transform: translateX(-50%) ;
}

section .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #0663d4;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%) ;
}
.about .title::after{
  content: "who i am";
}
.about .about-content,
.skills .skills-content,
.projects .projects-content,
.contacts .contacts-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span{
  color: #6DAFFE;
}
.about .about-content .right p{
  text-align: justify;
}
.about .about-content .right a{
  display: inline-block;
  background: #6DAFFE;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #6DAFFE;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
  color: #6DAFFE;
  background: none;
}


/*Skills Section*/
.skills{
  background: #86abf9;
  color: #fff;
}
.skills .title::before{
  background: #fff;
}
.skills .title::after{
  background: #86abf9 ;
  content: "What I learn";
}
.skills .skills-content .card{
  width: calc(33% - 20px);
  height: 300px;
  background: #becee5;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.skills .skills-content .card i{
  font-size: 40px ;
  color: #6096FD;
  transition: color 0.3s ease;
}
.skills .skills-content .card .box{
  color: #111;
  transition: all 0.3s ease;
}
.skills .skills-content .card:hover .box{
  transform: scale(1.05);
  color: #fff;
}
.skills .skills-content .card:hover{
  background: #111 ;
}
.skills .skills-content .card .bars{
  margin-bottom: 15px;
}

.skills .skills-content .card .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .card .span{
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .card .line{
  height: 5px;
  width: 100%;
  background: white;
  position: relative;
}

.skills .skills-content .card .line::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 60%;
  left: 0;
  top: 0;
  background: blue;
}
.skills .skills-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}


/*Projects section styling*/
.projects{
  background: #fff;
  color: #111;
}
.projects .title::before{
  background: #111;
}
.projects .title::after{
  content: "my recent work";
}

.projects .carousel .card{
  width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px 30px;
  text-align: center;
  border: 2px solid #6DAFFE;
  transition: all 0.3s ease;
}

.projects .carousel .card .box{
    width: calc(33% - 20px);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box{
  transform: scale(1.05);
}
.projects .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.projects .carousel .card img{
  height: 200px;
  width: 450px;
  object-fit: cover;
  border-radius: 2%;
  display: block;  
  margin-left: auto;  
  margin-right: auto;  
  border: 3px solid #fff;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
  border-color: #fff;
}
.projects .carousel .card a{
  display: inline-block;
  background: #6DAFFE;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #6DAFFE;
  transition: all 0.3s ease;
}
.projects .carousel .card a:hover{
  color: #6DAFFE;
  background: none;
}  

.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid rgb(2, 59, 246)!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background: #4169E1!important;
}


/*Contacts section styling*/
 .contacts{
  background: #86abf9;
  color: #fff;
}
.contacts .title::before{
  background: #fff;
}
.contacts .title::after{
  background: #86abf9 ;
  content: "Hit me up";
}
.contacts .contacts-content .column{
  width: calc(50% - 30px);
}

.contacts .contacts-content .left{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contacts .contacts-content .left .icons{
  margin: 10px 0;
}

.contacts .contacts-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contacts .contacts-content .row .info{
  margin-left: 30px;
}
.contacts .contacts-content .row i{
  font-size: 25px;
  color: #111;
}
.contacts .contacts-content .info .head{
  font-weight: 500;
}

.contacts .contacts-content .info .subtitle{
  color: #333;
}

.contacts .right form .fields{
  display: flex;
}

.contacts .right form .field,
.contacts .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contacts .right form .textarea{
  height: 80px;
  width: 100%;
}
.contacts .right form .name{
  margin-right: 10px;
}
.contacts .right form .email{
  margin-left: 10px;
}

.contacts .right form .textarea textarea,
.contacts .right form .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins",sans-serif;
}
.contacts .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contacts .right form .button{
  height: 47px;
  width: 170px;
}
.contacts .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid #6893ee ;
  background: #4169E1;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contacts .right form .button button:hover{
  color: #fff;
  background: none;
}

/* footer section styling */
footer{
  background: #fff;
  padding: 15px 23px;
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
footer span a{
  color: #86abf9;
  text-decoration: none;
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/*responsive media query*/
@media (max-width: 1300px){
  .home .max-width{
    margin-left: 0px;
  }
}

@media (max-width: 1123px){
  .home .home-content .text-4{
    height: 70px;
    width: 350px;
  }
  .home .home-content .a{
    font-size: 18px;
    padding: 5px 20px;
  }
}

@media (max-width: 1104px){
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px){
  .max-width{
    padding: 0 50px;
  }
}

@media (max-width: 947px){
  .max-width{
    max-width: 930px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active::before{
	  content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width{
    max-width: 800px;
  } 
  .about .about-content .column{
    width: 50%;
  }
  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .services-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .contacts .contacts-content .column{
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px){
  .max-width{
    padding: 0 23px;
  }
  .home .home-content .text-2{
    font-size: 32px;
  }
  
  .home .home-content .text-3{
    font-size: 28px;
  }
  .home .home-content a{
    font-size: 23px;
    padding: 8px 20px;
  }
  .services .services-content .card{
    width: 100%
  }
  .skills .skills-content .card{
    width: 100%
  }
}

@media (max-width: 628px){
  .home .home-content .text-3{
    height: 80px;
    width: 350px;
  }
}

@media (max-width: 500px){
  .max-width{
    padding: 0 23px;
  }
  .home .home-content .text-2{
    font-size: 32px;
  }
  
  .home .home-content .text-3{
    font-size: 28px;
  }
}


